<h4> Lakukan Latihan Berikut </h4>




1. Bacalah dataset 'retail_raw_test.csv' dan tampilkan 10 elemen pertama dataset tersebut dengan index columnnya yaitu order_date.

2. Hapuslah kolom order_id dan product_id dan tampilkan data retail pada kota Jakarta Pusat atau Yogyakarta

3. Buatlah kolom "total_price" sebagai hasil perkalian quantity dengan item_price dan "city/province" dari gabungan city & province. kemudian hapus kolom city dan province.

4. Tampilkan retail yang terjadi mulai tanggal 1 Agustus 2019 sampai 30 Agustus 2019

5. Tampilkan banyakanya tiap brand dengan mengelompokan data berdasarkan kolom brand

In [2]:
# 1
import pandas as pd

data = pd.read_csv('./retail_raw_test.csv',index_col='order_date',parse_dates=True)
data.iloc[0:10]

,order_id,customer_id,city,province,brand,quantity,item_price,product_id
order_date,,,,,,,,
2019-12-11,1730350,13447,Surakarta,Jawa Tengah,BRAND_F,24,113000,P1374
2019-10-18,1704211,16128,Jakarta Pusat,DKI Jakarta,BRAND_H,12,747000,P1679
2019-08-07,1679695,16225,Yogyakarta,Yogyakarta,BRAND_H,6,590000,P1708
2019-04-18,1642990,16022,Jakarta Pusat,DKI Jakarta,BRAND_M,4,2445000,P2279
2019-04-16,1642138,12720,Denpasar,Bali,BRAND_P,6,6312000,P2803
2019-12-08,1728226,15861,Tangerang,Banten,BRAND_L,2,590000,P2102
2019-04-21,1643581,17625,Bandung,Jawa Barat,BRAND_H,2,240000,P1768
2019-08-23,1685443,14854,Jakarta Selatan,DKI Jakarta,BRAND_S,1,13995000,P3390
2019-10-20,1704610,13435,Depok,Jawa Barat,BRAND_R,10,590000,P3022
2019-03-04,1630102,18225,Surakarta,Jawa Tengah,BRAND_P,24,205000,P2443

In [5]:
# 2
# spec_data1 = data[['city','province','brand','quantity','item_price','product_id']][data['city']=='Jakarta Pusat' or data['city'] == 'Yogyakarta']

# spec_data1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
# 3

In [6]:
# 4
data.loc['2019-08-01':'2019-08-30']

,order_id,customer_id,city,province,brand,quantity,item_price,product_id
order_date,,,,,,,,
2019-08-07,1679695,16225,Yogyakarta,Yogyakarta,BRAND_H,6,590000,P1708
2019-08-23,1685443,14854,Jakarta Selatan,DKI Jakarta,BRAND_S,1,13995000,P3390
2019-08-05,1678672,17444,unknown,unknown,BRAND_L,10,590000,P2091
2019-08-30,1687357,16302,Jakarta Timur,DKI Jakarta,BRAND_Z,24,303000,P4202
2019-08-01,1677991,17696,Surakarta,Jawa Tengah,BRAND_W,25,159000,P4115
...,...,...,...,...,...,...,...,...
2019-08-19,1683616,17693,Tangerang,Banten,BRAND_H,12,520000,P1794
2019-08-22,1684753,13534,Jakarta Barat,DKI Jakarta,BRAND_L,10,590000,P2086
2019-08-29,1687333,14713,Jakarta Timur,DKI Jakarta,BRAND_V,6,310000,P3907
2019-08-25,1685680,12942,Depok,Jawa Barat,BRAND_S,6,1465000,P3291
2019-08-29,1686826,12689,Makassar,Sulawesi Selatan,BRAND_D,12,450000,P0004

In [8]:
# 5
data.groupby(['brand']).size()

brand
BRAND_A    231
BRAND_B    195
BRAND_C    286
BRAND_D    148
BRAND_E     69
BRAND_F    151
BRAND_G    165
BRAND_H    206
BRAND_I     48
BRAND_J    182
BRAND_K     22
BRAND_L    212
BRAND_M    133
BRAND_N     32
BRAND_O     19
BRAND_P    401
BRAND_Q      5
BRAND_R    329
BRAND_S    532
BRAND_T    120
BRAND_U      6
BRAND_V     89
BRAND_W    198
BRAND_Y      3
BRAND_Z     20
dtype: int64