In [1]:
import pandas as pd
dummy = {
      'survived': [0,1,1,1,0],
      'pclass': [3,1,3,1,3],
      'sex': ['male','female','female','female','male',],
      'age': [22.0,38.0,26.0,35.0,35.0],
      'sibsp': [1,1,0,1,0],
      'parch': [0,0,0,0,0],
      'fare': [7.2500,71.2833,7.9250,53.1000,8.0500],
      'embarked': ['S','C','S','S','S']
      }

data = pd.DataFrame(dummy)
data

   survived  pclass     sex   age  sibsp  parch     fare embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S