# GDrive Connection

In [18]:
from google.colab import drive
drive.mount('/content/gdrive')

# Import Library

In [19]:
import pandas as pd
import os
import statistics

# **Latihan (Probabilitas)**

Asosiasi  Olah Raga Nasional melakukan survei terhadap orang-orang berusia 7 tahun atau lebih tua tentang partisipasi dalam kegiatan olahraga (Abstrak Statistik Amerika Serikat: 2002).
Jumlah penduduk pada kelompok umur ini dilaporkan sebanyak 248,5 juta, dengan 120,9 juta laki-laki dan 127,6 juta perempuan. Jumlah peserta untuk lima aktivitas olahraga teratas adalah \\

|Activity| Male |Female|
|----|----|-----|
Bicycle riding |22.2| 21.0
Camping |25.6 |24.3
Exercise walking| 28.7 |57.7
Exercising with equipment |20.4 |24.4
Swimming |26.4| 34.4

a. Untuk wanita yang dipilih secara acak, perkirakan probabilitas partisipasi di masing-masing 5 kegiatan olahraga? \\
b. Untuk orang yang dipilih secara acak, berapa probabilitas orang tersebut berpartisipasi olahraga excercise walking?

In [20]:
df = pd.DataFrame({
      'Activity' : ['Bicycle riding','Camping','Exercise walking', 
                  'Exercising with equipment','Swimming'],
      'Male' : [22.2,25.6,28.7,20.4,26.4],
      'Female' : [21.0,24.3,57.7,24.4,34.4] })

# Mengerjakan soal A
df['Probabilitas Wanita'] = df['Female'] / 127.6
df[['Activity','Probabilitas Wanita']]

                    Activity  Probabilitas Wanita
0             Bicycle riding             0.164577
1                    Camping             0.190439
2           Exercise walking             0.452194
3  Exercising with equipment             0.191223
4                   Swimming             0.269592

In [21]:
# Soal B
partisipan_exercise_walking = df.loc[df['Activity'] == 'Exercise walking', 'Male'].values[0] + df.loc[df['Activity'] == 'Exercise walking', 'Female'].values[0]
semesta = 248.5
exercise_walking_probabilitas = partisipan_exercise_walking / semesta
print(f"Jadi probabilitas orang yang melakukan exercise walking adalah {exercise_walking_probabilitas}")

Jadi probabilitas orang yang melakukan exercise walking adalah 0.3476861167002012

# **Latihan (Statistika Deskriptif)**

Untuk lebih memahami materi statistika deskriptif, silakan untuk mencoba latihan ini

Untuk periode 2001â€“2008, Bristol-Myers Squibb
Company, Inc. melaporkan jumlah (dalam milyaran
dolar) untuk (1) penjualan bersih dan (2) iklan dan
promosi produk \\

| Tahun | Net sales | Iklan |
|----|---|----|
|2001 | 16.612 |1.201|
|2002 |16.208 |1.143|
|2003 |18.653 |1.416|
|2004 |19.380 |1.411|
|2005 |19.207 |1.476|
|2006 |16.208 |1.304|
|2007 |18.193 |1.415|
|2008 |20.597| 1.550|

(a) Tunjukkan berapa rata-rata net sales dan iklan selama 9 tahun? \\
(b) Berapa variasi yang didapatkan untuk net sales dan iklan selama 9 tahun? \\

In [30]:
df2 = pd.DataFrame({
      'Tahun' : [2001,2002,2003,2004,2005,2006,2007,2008],
      'Net sales' : [16.612,16.208,18.653,19.380,19.207,16.208,18.193,20.597],
      'Iklan' : [1.201,1.143,1.416,1.411,1.476,1.304,1.415,1.550]
      })
print(df2)
# Tunjukkan berapa rata-rata net sales dan iklan selama 9 tahun?
mean_netsales = df2['Net sales'].mean()
mean_iklan = df2['Iklan'].mean()

print(f"Jadi rata-rata iklan adalah {mean_iklan}")
print(f"Jadi rata-rata net sales adalah {mean_netsales}")

   Tahun  Net sales  Iklan
0   2001     16.612  1.201
1   2002     16.208  1.143
2   2003     18.653  1.416
3   2004     19.380  1.411
4   2005     19.207  1.476
5   2006     16.208  1.304
6   2007     18.193  1.415
7   2008     20.597  1.550

Jadi rata-rata iklan adalah 1.3645
Jadi rata-rata net sales adalah 18.13225

In [31]:
# B. Berapa variasi yang didapatkan untuk net sales dan iklan selama 9 tahun?
net_sales_var = df2['Net sales'].var()
iklan_var = df2['Iklan'].var()

print(f"Variansi net sales selama 9 tahun adalah {net_sales_var}")
print(f"Variansi iklan selama 9 tahun adalah {iklan_var}")

Variansi net sales selama 9 tahun adalah 2.682638214285717
Variansi iklan selama 9 tahun adalah 0.019094571428571426

# Latihan (Statistika Deskriptif di bisnis)

Berdasarkan data transaksi dari coffee shop diatas. Carilah persebaran umur berdasarkan mean, dan varian dari customer tersebut. Serta dapatkan modus usia dari customers.

In [49]:
# reading csv file
df3 = pd.read_csv('customer.csv')
# adding kolom usia
df3['Usia'] = 2023 - df3['birth_year']
df3

,customer_id,home_store,customer_first-name,customer_email,customer_since,loyalty_card_number,birthdate,gender,birth_year,Usia
0,1,3,Kelly Key,Venus@adipiscing.edu,2017-01-04,908-424-2890,1950-05-29,M,1950,73
1,2,3,Clark Schroeder,Nora@fames.gov,2017-01-07,032-732-6308,1950-07-30,M,1950,73
2,3,3,Elvis Cardenas,Brianna@tellus.edu,2017-01-10,459-375-9187,1950-09-30,M,1950,73
3,4,3,Rafael Estes,Ina@non.gov,2017-01-13,576-640-9226,1950-12-01,M,1950,73
4,5,3,Colin Lynn,Dale@Integer.com,2017-01-15,344-674-6569,1951-02-01,M,1951,72
...,...,...,...,...,...,...,...,...,...,...
2241,8497,8,Rae,Kylie@facilisi.org,2017-01-06,081-440-6679,1977-12-10,F,1977,46
2242,8498,8,April,Daniel@placerat.us,2019-01-20,705-545-5246,2000-12-07,N,2000,23
2243,8499,8,Clementine,Dieter@ac.us,2017-11-09,297-550-7776,1996-06-04,F,1996,27
2244,8500,8,Linda,Dillon@pretium.gov,2017-08-21,255-202-7435,1990-03-01,N,1990,33
2245,8501,8,Moana,Herrod@ultrices.gov,2018-07-06,241-906-4009,1966-08-27,F,1966,57

In [57]:
# Carilah persebaran umur berdasarkan mean, dan varian dari customer tersebut. Serta dapatkan modus usia dari customers.

# Mean usia
meanage = df3['Usia'].mean()
print(f"Jadi usia rerata pada data tersebut adalah {meanage}")

# variasi usia
varage = df3['Usia'].var()
print(f"Jadi variasi usia pada data tersebut adalah {varage}")

# modus usia
modeage = df3['Usia'].mode()[0]
print(f"Jadi modus usia pada data tersebut adalah {modeage}")

Jadi usia rerata pada data tersebut adalah 44.61442564559216
Jadi variasi usia pada data tersebut adalah 222.77064258756474
Jadi modus usia pada data tersebut adalah 28